@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;600;700;800&display=swap');

/*
font-family: 'Bebas Neue', sans-serif;
font-family: 'Poppins', sans-serif;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background: linear-gradient(
        rgba(29,30,35,0.4),
        rgba(29,30,35,0.4)
    ),
    url(./img/curiosidades-de-la-carrera-de-medicina.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: 80px 0 0 0;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #01c1fc;
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}



.green {
    font-size: 60px;
    
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #FFFFFF;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: #01c1fc;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-txt {
    text-align: center;
    padding: 0 200px;
}

.header-txt h1 {
    font-size: 75px;
    line-height: 1;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
    text-transform: uppercase;
}

p {
    font-size: 17px;
    color: #2c2c2c;
    margin-bottom: 35px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    color: #FFFFFF;
    text-transform: uppercase;
    background: linear-gradient(
        90deg,
        #3451f5 0%,
        #01c1fc 100%
    );
}

/* ----- ABOUT ----- */

.about {
    padding: 30px;
    background-color: #aeafaf56;
}

.about-content {
    display: flex;
    align-items: center;
}

.about-txt {
    flex-basis: 50%;
    padding-right: 35px;
}

span {
    font-size: 14px;
    text-transform: uppercase;
    color: #01c1fc;
}

.logospan {
    font-size: 35px;
    text-transform: uppercase;
    color: #ffffff;
}

h2 {
    font-size: 35px;
    color: #202020;
    margin: 15px 0;
    line-height: 1;
}

hr {
    border: 1px solid rgb #01c1fc;
    width: 10%;
    margin-bottom: 30px;
}

.about-img {
    flex-basis: 50%;
}

.about-img img {
    border-radius: 15px;
}

/* ----- FOOTER ----- */

.footer {
    padding: 40px 0;
    background-color: #FFFFFF;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #191A1F;
}

.footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid #202020;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

.footer .social a:hover {
    color: #01c1fc;
    opacity: 0.5;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a:hover {
    color: #01c1fc;
    opacity: 0.5;
}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #898989;
}

/* ----- NOSOTROS ----- */

.nosotros {
    padding: 30px;
    background-color: #aeafaf56;
}

.nosotros-content {
    display: flex;
    align-items: center;
}

.nosotros-txt {
    flex-basis: 90%;
    padding-right: 35px;
}

span {
    font-size: 14px;
    text-transform: uppercase;
    color: #01c1fc;
}

.logospan {
    font-size: 35px;
    text-transform: uppercase;
    color: #ffffff;
}

h2 {
    font-size: 35px;
    color: #202020;
    margin: 15px 0;
    line-height: 1;
}

hr {
    border: 1px solid rgb #01c1fc;
    width: 10%;
    margin-bottom: 30px;
}

.nosotros-img {
    flex-basis: 50%;
}

.nosotros-img img {
    border-radius: 15px;
}

/* ----- AREAS ATENDIDAS ----- */

.areas {
    padding: 30px;
    background-color: #aeafaf56;
}

.areas-content {
    display: flex;
    align-items: center;
}

.areas-txt {
    flex-basis: 100%;
    padding-right: 35px;
}

span {
    font-size: 14px;
    text-transform: uppercase;
    color: #01c1fc;
}

.logospan {
    font-size: 35px;
    text-transform: uppercase;
    color: #ffffff;
}

h2 {
    font-size: 35px;
    color: #202020;
    margin: 15px 0;
    line-height: 1;
}

hr {
    border: 1px solid rgb #01c1fc;
    width: 10%;
    margin-bottom: 30px;
}

.areas-img {
    flex-basis: 50%;
}

.areas-img img {
    border-radius: 15px;
}



